body{
    padding-top: 70px;
    padding-bottom: 70px;
}

table{
    border-collapse: collapse;
}

/*.img{*/
    /*width: 410px;*/
    /*height: auto;*/
/*}*/

ul{list-style-type: none;}

.cycle-slideshow > img {
    width: 80%;
    margin: auto;
    position: absolute;
}

.carousel{
    width: 80%;
    margin: 0 auto;
}

th{text-align: center;}

.cycle-slideshow img{
    margin-left: 70px;
    width: 60%;
    height: 60%;
}

.bckgimg{
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 280px;
    width: 380px;
    overflow: hidden;
    margin-bottom: 10px;
}
.bckgimg2{
    display: block;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 70%;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.page-header{
    margin-top: 0;
}

.panel-body{
    padding-top: 0;
}

.img {
    margin-bottom: 15px;
}

.lead{
    font-size: 18px;
}

.carousel {
    padding-bottom: 20px;
}

/*#owl-demo .item img{*/
    /*display: block;*/
    /*width: 100%;*/
    /*height: auto;*/
/*}*/

.fa-big {
    font-size: 1.45em;
}
.pr-10 {
    padding-right: 10px;
}
.text-colored {
    color: #55ACEE;
}

.list-icons {
    padding: 0px;
    margin: 20px 0px;
    list-style: outside none none;
    font-size: 18px;
}

.kontakt_podaci{
    padding-right: 15px;
}
